body{
    background-color: rgb(83, 83, 83);
    color:rgb(0, 170, 226);
    margin: 0px;
}
li{
    margin-bottom: 5px;
    list-style-type:none;
    padding-left: 1em;
}
ul li:before {
    content: "–";
    position: absolute;
    margin-left: -2.1em;
  }
.eloszo{
    color: rgb(203, 255, 17);
    margin-bottom: 40px;
}
#keszit{
    margin: 0px;
    height: 835px;
    background-color: rgb(83, 83, 83);
}
.segit{
    background-color:rgb(83, 83, 83) ;
    color: rgb(250, 74, 74);
    font-weight: bold;
}
.nagy{font-size: large;}