@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
}
body{
    margin: 0;
    background-color: rgb(223, 223, 223);
}
.nev{
    padding: 1px;
    text-align: center;
    background-color: #333;
    color: white;
}
.nev .logo{
    width: 10vw;
    height: 10vw;
}
.lentiresz {
    padding: 0,2vw;
    text-align: center;
    background-color: #333;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.lentiresz a{
    text-decoration: none;
    color: white;
}
.sendhelp{
    width: 90vw;
    height: 120vw;
    background-color: rgb(179, 179, 179);
    margin: auto;
}
.ajanlottposz{
    width: 80vw;
    height: 70vw;
    background-color: rgb(179, 179, 179);
    margin: auto;
}
.sendhelp .ajanlat{
    text-align: center;
    color: black;
}
.ajanlottposz .MaiPoster1{
    width: 15vw;
    height: 23vw;
    border: 1px solid black;
    border-radius: 3px;
    transition-duration: 0.4s;
}
.ajanlottposz .MaiPoster1:hover{
    transform: scale(1.1);
}
.ajanlottposz .breakingB{
    width: 15vw;
    height: 23vw;
    border: 1px solid black;
    border-radius: 3px;
    transition-duration: 0.4s;
}
.ajanlottposz .breakingB:hover{
    transform: scale(1.1);
}
.ajanlottposz .HorrorPoster1{
    width: 15vw;
    height: 23vw;
    border: 1px solid black;
    border-radius: 3px;
    transition-duration: 0.4s;
}
.ajanlottposz .HorrorPoster1:hover{
    transform: scale(1.1);
}
.ajanlottposz .ZyzzPoster1{
    width: 15vw;
    height: 23vw;
    border: 1px solid black;
    border-radius: 3px;
    transition-duration: 0.4s;
}
.ajanlottposz .ZyzzPoster1:hover{
    transform: scale(1.1);
}
.ajanlottposz a{
    text-decoration: none;
    color: black;
}
.navbar-inverse{
    background-color: #333;
    border-color: transparent;
    margin: auto;
}
.navbar{
    border-radius: 0px;
}
.navbar-inverse .navbar-nav>li>a{
    color: white;
}